In [13]:
import numpy as np
from shapely.geometry import Polygon
import geopandas as gpd

In [14]:
import pandas as pd

In [15]:
gdf = gpd.read_file('../03_data/raw_0423/grid_6th_ring/grid_6th_ring.shp')

In [16]:
df = pd.read_csv('../03_data/raw_0423/df_export_1005.csv')

In [17]:
import pandas as pd

# 假设您的 GeoDataFrame 名称为 gdf，DataFrame 名称为 df
merged_df = pd.merge(gdf, df, on='id', how='left')  # 按 'index' 列合并两个 DataFrame，使用左连接
# merged_df.fillna(merged_df.mean(), inplace=True)  # 使用均值填充缺失值

In [18]:
import geopandas as gpd

# 假设您的 GeoDataFrame 名称为 gdf
merged_df.fillna(0, inplace=True)  # 使用 0 填充缺失值

In [19]:
after_gdf = merged_df[['id','v_pop', 'v_resi','v_activity','v_business','v_facility','v_street_quality','geometry']]

In [20]:
after_gdf.to_file('../03_data/after_gdf.geojson')

In [24]:
after_gdf

,id,v_pop,v_resi,v_activity,v_business,v_facility,v_street_quality,geometry
0,40,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,"POLYGON ((116.08630 39.99114, 116.08627 39.991..."
1,41,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,"POLYGON ((116.08714 39.98664, 116.08706 39.987..."
2,42,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,"POLYGON ((116.08717 39.98645, 116.08714 39.986..."
3,89,0.072446,0.582489,0.000000,0.000000,0.678576,0.000000,"POLYGON ((116.09001 39.77230, 116.09000 39.772..."
4,92,0.078704,0.591413,0.000000,0.000000,0.726596,0.000000,"POLYGON ((116.09010 39.75691, 116.09018 39.758..."
...,...,...,...,...,...,...,...,...
9246,11618,0.024580,0.604979,0.011584,0.000000,0.707125,0.000000,"POLYGON ((116.70918 39.89977, 116.70920 39.899..."
9247,11619,0.036880,0.597523,0.099237,0.000000,0.685432,0.000000,"POLYGON ((116.71024 39.89527, 116.71129 39.890..."
9248,11620,0.052923,0.589451,0.088852,0.058714,0.673459,0.000000,"POLYGON ((116.71129 39.89077, 116.71158 39.889..."
9249,11621,0.032195,0.503333,0.001464,0.058714,0.678451,0.648745,"POLYGON ((116.71155 39.88626, 116.71152 39.886..."
9250,11622,0.095218,0.615736,0.000000,0.000000,0.687718,0.000000,"POLYGON ((116.70920 39.88175, 116.70839 39.880..."

In [21]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

after_st_gdf = after_gdf

# 假设您的 DataFrame 名称为 df，需要进行归一化的列为 'v_pop', 'v_resi','v_activity','v_business','v_facility','v_street_quality'
columns_to_normalize = ['v_pop', 'v_resi','v_activity','v_business','v_facility','v_street_quality']

scaler = MinMaxScaler()  # 创建 MinMaxScaler 实例
after_st_gdf[columns_to_normalize] = scaler.fit_transform(after_st_gdf[columns_to_normalize])  # 将需要归一化的列进行归一化

/Users/sakai/opt/anaconda3/envs/cuaviz/lib/python3.9/site-packages/geopandas/geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [22]:
after_st_gdf.to_file('../03_data/after_st_gdf.geojson')

In [25]:
for i in ['v_pop', 'v_resi','v_activity','v_business','v_facility','v_street_quality']:
    after_gdf[i] = 100* after_gdf[i]

/Users/sakai/opt/anaconda3/envs/cuaviz/lib/python3.9/site-packages/geopandas/geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [27]:
after_gdf.to_file('../03_data/after_gdf.geojson')